# Copy this file to .env and adjust values for local development.
# .env is git-ignored and never committed.

# Database
# DB_PATH=./dbstate/app.db

# Users module
# USERS_MAX_PAGE_SIZE=100

# Solidgate
# SOLIDGATE_PUBLIC_KEY=api_pk_0bf6ecca_a325_4526_8631_4b577a90a9df
# SOLIDGATE_SECRET_KEY=api_sk_618581bc_9f29_467a_93f6_876662a97ba8
